*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

#map-info{
    display: flex;
}

#weather-info{
    background: rgb(250, 249, 249);
    width: 47.5vw;
    margin: 0.5vw;
    padding: 0.5vw;
    font-size: 1.5vw;
}

#map{
    width: 50vw;
    height: 70vh;
    padding: 0.5vw;
}

#weather-condition-container{
    display: flex;
}