*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.map-container{
    display: flex;
    background: rgb(250, 249, 249);
    margin: 0.5vw;
}

.more-info{
    width: 47.5vw;
    margin: 0.5vw;
    padding: 0.5vw;
    font-size: 1.5vw;
}

.map{
    width: 50vw;
    height: 70vh;
    padding: 0.5vw;
}

#weather-condition-container{
    display: flex;
}

img{
    width: 1em;
    height: 1em;
}